body{
    background-color: rgb(15, 77, 102);
    
}



.regBox{
    width:100%;
    position:relative;
    left:35%;
    top: -40px;
    text-align: center;
    width: 200px;
    background-color: rgb(93, 93, 93);
    height: 290px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
    padding: 60px 60px;
    border-radius: 10%;


}

.regForm{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:5px;
    color:rgb(255, 255, 255)


}

.regForm input{
    position: relative;
    right:20px;
    padding: 6px 30px;
    border-style: solid;
    border-radius:10px;
    background-color: rgb(255, 255, 255);
}

.submit{
    position: relative;
    left: -5px;
    top:-10px;
    border-color: antiquewhite;
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    width:200px;
    height:40px;
    
}

.submit:hover{
    background-color: rgb(50, 50, 50);
    border-color: rgb(50, 50, 50);
    color:white;
}

.Register{
    color:white;
    font-size: 55px;
    position: relative;
    margin-left: 38.2%;
    top: 90%;
    font-family:Georgia, 'Times New Roman', Times, serif
    
}

.logincar{
    width:50px;
    height:50px;
    
    margin-left: 27%;
}

.makesure{
    margin-top: 10%;
}


.navbar{
    height: 500px;
    width: 100%;
    background-color: black;
    color: rgb(0, 0, 0);
}

.loginav{
    color:white;
    text-decoration: none;
    font-size: 20px;
    position:fixed;
    left:1100px;
    border-radius: 10%;
    top:25px;
    background-color: rgb(69, 68, 68);
    
}

.registernav{
    color:white;
    text-decoration: none;
    font-size: 20px;
    position:fixed;
    left:1000px;
    border-radius: 10%;
    top:25px;
    background-color: rgb(69, 68, 68);
}




@keyframes slide {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(1300px);
    }
}

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 200px;
}


.car{
    width: 100px;
    height: 100px;
    position: relative;
    top:-15px;
    animation: slide 15s linear infinite;
    color:antiquewhite;


}

.heyuser{
    font-size: 30px;
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position:relative;
    left:40%;
    top:-300%;
}


.log_out{
    color-scheme:white;
    position: relative;
    left:1000px;
    width:35px;
    height: 35px;
    top:-190px;
}

.carlogo1{
    width:200px;
    height:1000px;
    top:-500px;
    
}

.post{
    position: relative;
    top:100px;
    width:50px;
    height:20px;
    cursor:pointer;
}

.posts{
    position: relative;
    top:90px;
    width:50px;
    height:20px;
    cursor:pointer;
}


