{% load static %}

<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="{% static "styles.css" %}">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% csrf_token %}
    <nav
      style="
        background-color: rgb(93, 93, 93);
        width: 100%;
        height: 45px;
        position: fixed;
        top: 0;
        left: 0;
        padding: 5px 0;
      "
    >
      <div class="container">
        <img
          class="car"
          src="https://i.pinimg.com/originals/80/00/f4/8000f409169eafcd39059d9dcbbc8800.png"
        />
      </div>
      <span class="heyuser" id="hello-msg">Hello, {{request.user}}!</span>
      <a href="{% url 'logout' %}">
        <img
          class="log_out"
          src="https://static-00.iconduck.com/assets.00/logout-icon-2048x2046-yqonjwjv.png"
        />
      </a>
      <img class="profile" src="" />
    </nav>

    <img src="/app/images/car222.png" />

    <main>{% block content %}{% endblock content %}</main>
  </body>
</html>
