{% load static %}

<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="{% static "styless.css" %}">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1 style="position:relative;left:565px;color:white;">Posts</h1>
    
    {% for post in posts %}
    <div class='Posts'>
    <h2>{{ post.Title }}</h2>
    <img>{{post.Image }}</img>
    <p>{{ post.Description }}</p>
    <p>By: {{ post.User }} at</p>
    <p>{{ post.Created_at }}</p>
    </div>
    {% endfor %}
    

    <a style="position:relative;left:0px;top:-1px;" href="{% url 'home' %}">
      <button style="position:absolute;left:574px;top:100px;width:100px;height:30px;">Home</b>
    </a>
  </body>
</html>