{% load static %}
<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="{% static "styles1.css" %}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <h1 class="welcome">Welcome To CarsAndCoffee.com</h1>
    <h3 class="Register">Register</h3>
    <div class="regBox">
      <form method="POST" action="" class="regForm">
        {% csrf_token %} {% for field in form %}
        <div class="mb-3">
          <label for="{{ field.id_for_label }}" class="form-label"
            >{{ field.label }}</label
          >
          {{ field }}
        </div>
        {% endfor %} {% if form.errors %}
        <div class="alert alert-danger">{{ form.errors }}</div>
        {% endif %}
        <div class="logincar">
          <img
            class="logincar"
            src="https://www.svgrepo.com/show/8636/car-black-silhouette-side-view.svg"
          />
        </div>

        <input type="submit" name="Create User" class="submit" />
        <div class="makesure">
          <p>Already have an account?</p>
          <a href="http://127.0.0.1:8000/login/">Login</a>
        </div>
      </form>
    </div>
  </body>
</html>
